<div class="container background-image">
  <header class="main-header">
    <app-navigation></app-navigation>
  </header>

  <ng-container *ngIf="crew$ | async as crew">
    <main class="main">
      <h2 class="headline"><span>02</span>Meet your Crew</h2>
      <section class="space-content">
        <div class="space-left-content">
          <h3 class="role">{{ crew.role }}</h3>
          <div class="info-box">
            <h1>{{ crew.name }}</h1>
            <p>{{ crew.bio }}</p>
          </div>
          <div class="destination">
            <div class="destination-nav">
              <!-- Navigationslinks -->
              <ul class="nav-list">
                <li>
                  <a
                    routerLink="/crew/douglas hurley"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Douglas Hurley</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/crew/mark shuttleworth"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Mark Shuttleworth</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/crew/victor glover"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Victor Glover</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/crew/anousheh ansari"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Anousheh Ansari</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="space-right-content">
          <img [src]="crew.images.png" alt="{{ crew.name }}" />
        </div>
      </section>
    </main>
  </ng-container>
</div>
